<html lang="en">

<head>
    <title>To-Do List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css"/>

    <style>

    .btn-select {float: right;}
    </style>

</head>
<body>

<nav>
    <div hidden class="alert alert-danger">
        <h4><strong>WARNING</strong> Once deleted, the task cannot be recovered.</h4>
    </div>
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Tasks</div>
        <div class="panel-body"></div>
    </div>
</div>

<button type="button" class="btn btn-default btn-select btn-sm">
    <span class="glyphicon glyphicon-plus"></span> Add
</button>
<h1>
    <br/>
</h1>
</body>

</html>