<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>To-Do List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css"/>

</head>
<body>
<h2>Thanks for using our To-Do list!</h2>
<h5>
    If you have any issues, please contact us
    <span>
        <button type="button" class="btn btn-link" onclick="@("window.location.href='" + Url.Action("contact", "Documentation") + "'");">Here</button>
    </span>
</h5>
<div>
    <p>
        <h5>For any issues please E-mail one of our DEVs at JaimeLey/OwenChambers/HenryMcconville/DiogoDuarte@exe-coll.ac.uk with the subject of To-Do List</h5>
    </p>
    <p>
        <h5>IDK what else to put here but we decided to have an about page so here it is.</h5>
    </p>

</div>
</body>
</html>